@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <title>TO DO List</title>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="../../Scripts/Lib/angular.js"></script>
    <script src="../../Scripts/Lib/angular-resource.js"></script>
    <script>
    var model = {

    }

    var todoApp = angular.module("todoApp", ["ngResource"]);

    todoApp.run(function ($http) {
        $http.get("/api/TodoList").success(function (data) {
            model.lists = data;
        });
    });

    todoApp.filter("checkedItems", function () {
        return function (items, showComplete) {
            var resultArr = [];
            angular.forEach(items, function (item) {
                if (!item.done || showComplete) {
                    resultArr.push(item);
                }
            });
            return resultArr;
        }
    });
    
    todoApp
        .constant("listUrl", "/api/TodoList/")
        .constant("todoUrl", "/api/Todo/")
        .controller("ListController", function($scope, $resource, listUrl, todoUrl) {
            $scope.ListsResource = $resource(listUrl + ":id", { id: "@@id" });
            $scope.TodoResource = $resource(todoUrl + ":id", { id: "@@id" },{
            update: { method: 'PUT' }
        });

            $scope.listData = model;

            $scope.addTodoList = function(newTodoList) {
                new $scope.ListsResource(newTodoList).$save().then(function(savedTodo) {
                    $scope.listData.lists.push(savedTodo);
                    $scope.newTodoList = null;
                    $scope.selectedList = savedTodo;
                });
            }

            $scope.selectList = function(list) {
                $scope.selectedList = list;
            }

            $scope.addTodo = function(newTodo) {
                newTodo.listId = $scope.selectedList.id;
                new $scope.TodoResource(newTodo).$save().then(function (savedTodo) {
                    $scope.selectedList.todos.push(savedTodo);
                    $scope.newTodo = null;
                });
            }

            $scope.completeChanged = function(todo) {
                new $scope.TodoResource(todo).$update();
            }
        });
    </script>
</head>
<body ng-controller="ListController">
    <div class="page-header">
        <h1>
            To Do Lists
        </h1>
        <div>
            <ul>
                <li ng-repeat="list in listData.lists"><span ng-click="selectList(list)" style="cursor:pointer">{{list.name}}</span></li>
                <li><input type="text" ng-model="newTodoList.name" /><button ng-click="addTodoList(newTodoList)">Add</button></li>
            </ul>
        </div>
        <div ng-hide="selectedList == null">
            <h2>{{selectedList.name}}</h2>
            <table>
                <tr ng-repeat="item in selectedList.todos">
                    <td>{{item.action}}</td>
                    <td><input type="checkbox" ng-model="item.complete" ng-change="completeChanged(item)"/></td>
                </tr>
                <tr>
                    <td><input type="text" ng-model="newTodo.action" /></td><td><button ng-click="addTodo(newTodo)">Add</button></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>